#<filesMatch ".(css)$">
#	#2 days
# 	Header set Cache-Control "max-age=604800, public"
#</filesMatch>
#<filesMatch ".(ico|jpg|jpeg|png|gif|svg)$">
# 	Header set Cache-Control "max-age=2592000, public"
#</filesMatch>
#<filesMatch ".(js)$">
#	#2 days
# 	Header set Cache-Control "max-age=604800, public"
# </filesMatch>#