.mo-main-content {
  	position: relative;
	  z-index: 80;
		overflow: hidden;
		padding-bottom: 60px;
	  &:before {
		  clear: both;
	  }
	  &:after {
		clear: both;
	  }
}
.mo-video-overlay {
	position: relative;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	z-index: -1;
	overflow: hidden;
	.mo-video-title {
		opacity: 0;
		position: absolute;
		z-index: 11;
		color: #000;
		font-size: 50px;
		font-family: UTM_Avo;
		text-shadow: 1px 1px 1px #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -100%);
		margin: 0;
		transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	.mo-video-title.second {
		color: #4AB0D7;
		visibility: hidden;
		opacity: 0;
	}
	.mo-video-wrap {
		position: relative;
		display: flex;
		align-items: center;
		align-content: center;
		width: 100%;
		height: 100vh;
		pointer-events: none;
		video {
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 4;
		}
	}
	.mo-video-mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.mo-video-mask-wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			z-index: 10;
			width: 180.694444444vw;
			height: 313.402777778vw;
		}
		.mo-video-mask-svg {
			width: 180.694444444vw;
			height: 313.402777778vw;
			fill: #e7e2dc;
			position: absolute;
			top: -1%;
			left: 0;
			transition: opacity .5s .2s cubic-bezier(.39,.575,.28,.995),-webkit-transform 1s cubic-bezier(.39,.575,.28,.995);
			transition: transform 1s cubic-bezier(.39,.575,.28,.995),opacity .5s .2s cubic-bezier(.39,.575,.28,.995);
			transition: transform 1s cubic-bezier(.39,.575,.28,.995),opacity .5s .2s cubic-bezier(.39,.575,.28,.995),-webkit-transform 1s cubic-bezier(.39,.575,.28,.995);
			transform: scale3d(5.6,5.6,1);
			z-index: 10;
			opacity: 0;
		}
	}
}
.mo-video-sp {
	position: absolute;
	z-index: 9;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	background-image: url('../img/home-mobile.jpg');
    background-size: cover;
    background-position: center center;
    transition: transform .9s .15s cubic-bezier(.39,.575,.28,.995);
	transform: translate(0,-1.3888888889vw);
	display: block;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background: #000;
		opacity: .2;
	}
}
.featured {
	.page-title {
		text-align: center;
	}
	.featured-list {
		display: flex;
		align-content: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		flex-flow: row wrap;
	}
	.featured-item {
		text-align: center;
		flex: 0 0 100%;
		.item-info {
			background: rgba(255, 255, 255, 0.7);
			width: 185px;
			margin: 0 auto;
			padding: 3px 15px 10px;
			position: relative;
			top: -40px;
			border-radius: 5px;
			.item-title {
				color: #BE1E2D;
				font-size: 24px;
				font-family: UTM_AvoBold;
				text-transform: uppercase;
				margin: 0;
				border-bottom: 1px solid #000;
			}
			p {
				text-align: left;
				color: #000;
				font-size: 12px;
				margin: 10px 0;
			}
		}
	}
}
.introduction {
	text-align: center;
	.introduction-list {
		display: flex;
		align-content: center;
		justify-content: space-between;
		flex-flow: row wrap;
		> div {
			flex: 0 0 100%;
		}
		.item {
			margin-bottom: 9px;
			background-color: #000;
			cursor: pointer;
			transition: 0.3s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.introduction-title {
		font-size: 24px;
		text-transform: uppercase;
	}
	.introduction-content {
		display: none;
	}
	.introduction-content.active {
		display: block;
	}
	.introduction-body {
		text-align: center;
	}
}
.menu {
	.page-title {
		text-align: center;
	}
	.menu-list {
		display: flex;
		align-content: center;
		justify-content: space-between;
		flex-flow: row wrap;
		> div {
			flex: 0 0 100%;
		}
		.item {
			margin-bottom: 10px;
			text-align: center;
			cursor: pointer;
			transition: 0.3s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
			.menu-title {
				background: url('../img/bg-menu-title.png') #fff no-repeat center center;
				text-align: center;
				margin: 0;
				padding: 23px 0 22px;
				text-transform: uppercase;
				font-family: UTM_AvoBold;
				font-size: 20px;
				color: #000;
			}
			&:hover {
				opacity: 0.7;
			}
			a {
				text-decoration: none;
			}
		}
	}
}
.promotion {
	.page-title {
		text-align: center;
	}
	.promotion-list {
		.item {
			a {
				text-decoration: none;
				color: #000;
			}
		}
		.promotion-title {
			position: relative;
			text-align: center;
			text-transform: uppercase;
			font-family: UTM_AvoBold;
			margin: 0 0 5px;
			opacity: 0;
			transition: 0.3s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.slick-current {
			.promotion-title {
				opacity: 1;
			}
		}
		.slick-slide {
			img {
				display: inline-block;
				transition: all 300ms ease;
				transform: scale(0);
			}
		}
		.slick-center {
			img {
				transform: scale(1);
			}
		}
	}
	.promotion-arrow {
		position: relative;
		text-align: center;
		margin-top: 20px;
		.slick-arrow {
			position: initial;
			display: inline-block;
			margin: 0;
			padding: 0;
			transform: translate(0, 0);
			width: 45px;
			height: 45px;
			transition: 0.3s all linear;
			margin: 0 5px;
			&:hover {
				transform: scale(1.2);
			}
		}
		.slick-prev {
			position: initial;
			display: inline-block;
			margin: 0;
			padding: 0;
			transform: translate(0, 0);
			width: 45px;
			height: 45px;
			transition: 0.3s all linear;
			margin: 0 5px;
			&:hover {
				transform: scale(1.2);
			}
			&:before {
				width: 45px;
				height: 45px;
				background-image: url('../img/arrow-prev.png');
				background-size: cover;
				transition: 0.3s all linear;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		.slick-next {
			position: initial;
			display: inline-block;
			margin: 0;
			padding: 0;
			transform: translate(0, 0);
			width: 45px;
			height: 45px;
			transition: 0.3s all linear;
			margin: 0 5px;
			&:hover {
				transform: scale(1.2);
			}
			&:before {
				width: 45px;
				height: 45px;
				background-image: url('../img/arrow-next.png');
				background-size: cover;
				transition: 0.3s all linear;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}
.additional {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 100px 0 70px;
	flex-flow: row wrap;
	.additional-item {
		text-align: center;
		flex: 0 0 100%;
		transition: 0.3s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
		a {
			text-decoration: none;
		}
		h3 {
			font-size: 36px;
			font-family: UTM_AvoBold;
			color: #000;
			text-transform: uppercase;
			margin: 30px 0 0;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	.vip-member {
		h3 {
			color: #BE1E2D;
		}
	}
}
.logo-footer {
	text-align: center;
	margin-bottom: 50px;
}
.step-by-step {
	.step-title {
		font-size: 36px;
		font-family: UTM_AvoBold;
		color: #000;
		margin: 50px 0 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url('../img/border-horizontal.png') no-repeat center bottom;
		padding-bottom: 20px;
		img {
			margin-right: 15px;
		}
	}
	.steps {
		margin: 0;
		padding: 0;
	}
	.step-item {
		position: relative;
		margin-bottom: 50px;
		background-image: url('../img/step-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 200px;
		border-radius: 20px;
		.step-content {
			color: #fff;
			font-family: UTM_AvoBold;
			padding: 20px;
			text-align: center;
		}
	}
}
.step-by-step.two-columns {
	.steps {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		background: url('../img/border-vertical.png') no-repeat center;
		background-size: contain;
	}
	.step-item {
		width: 46%;
		text-align: center;
		background-image: url('../img/large-step-bg.png');
		.step-content {
			padding-left: 20px;
		}
	}
}
.news-list {
	margin: 0;
	padding: 0;
	.news-item {
		margin-bottom: 50px;
		overflow: hidden;
		.news-img {
			width: 250px;
			height: auto;
			float: left;
			margin-right: 30px;
			&:hover {
				opacity: 0.7;
			}
		}
		.news-title {
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			color: #000;
			transition: color 0.3s;
			&:hover {
				color: #4EB1D9;
			}
		}
		.news-date {
			color: #777;
			font-size: 13px;
    		margin-bottom: 15px;
		}
	}
}
.promotion-list {
	margin: 0;
	padding: 0;
	overflow: hidden;
	.promotion-item {
		overflow: hidden;
		float: left;
		box-sizing: border-box;
		margin: 0 0 20px;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0, 0.3);
		.promotion-img {
			width: 100%;
			height: auto;
			&:hover {
				opacity: 0.7;
			}
		}
		.promotion-title {
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			color: #000;
			transition: color 0.3s;
			&:hover {
				color: #4EB1D9;
			}
		}
		.promotion-info {
			padding: 10px 10px 10px;
			display: flex;
    	justify-content: space-between;
		}
		.promotion-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 15px;
		}
		.promotion-expire {
			color: #757575;
			font-size: 14px;
		}
	}
}
.contact-list {
	width: 85%;
	margin: 0 auto 30px;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0 0 10px #777;
    text-align: center;
	padding: 20px;
	box-sizing: border-box;
	.contact-title {
		margin: 10px 0 20px;
	}
	.agency {
		margin: 0;
		padding: 0;
		.agency-item {
			margin: 5px 0;
			.agency-title {
				color: #BE1E2D;
			}
		}
	}
}
.request {
	margin: 0 auto;
	.request-title {
		font-size: 16px;
		margin: 70px 0 20px;
		text-align: center;
	}
}
#contact {
	margin-bottom: 100px;
	clear: both;
	overflow: hidden;
	> div {
		box-sizing: border-box;
	}
}
#order {
	margin: 0 auto 100px;
	background: url('../img/bg-order-top.png') no-repeat top center;
	box-sizing: border-box;
	padding-bottom: 28px;
	position: relative;
	background-size: contain;
	&:before {
		display: block;
		content: "";
		background: url('../img/bg-order-center.png') repeat-y center;
		background-size: contain;
		position: absolute;
		width: 100%;
		height: calc(100% - 150px);
		z-index: -1;
		top: 100px;
	}
	&:after {
		display: block;
		content: "";
		background: url('../img/bg-order-bottom.png') no-repeat bottom center;
		background-size: contain;
		height: 275px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
	}
	#order_form {
		margin: 0 25px;
	}
	.order-title {
		text-transform: uppercase;
		text-align: center;
		font-size: 26px;
		font-family: UTM_AvoBold;
		padding: 70px 10px 0;
		margin: 0;
	}
	.order-sub-title {
		text-align: center;
		margin: 0 0 15px;
		font-size: 18px;
	}
	.btn-submit {
		text-align: center;
		[type="submit"] {
			float: none;
			padding: 5px 10px;
		}
	}
}
.view-maps {
	color: #fff;
    background-color: #BE1E2D;
    text-decoration: none;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 5px;
	margin-left: 20px;
	top: -2px;
    position: relative;
	&:hover {
		opacity: 0.7;
	}
}
.galleries * {
	box-sizing: border-box;
}
.galleries {
	.gallery-item {
		background-color: #fff;
		border-radius: 10px;
		margin-bottom: 30px;
		display: block;
		text-decoration: none;
		transition: 0.3s all linear;
		img {
			border-radius: 10px 10px 0 0;
		}
		.gallery-title {
			color: #8e8e8e;
			font-family: UTM_Avo;
			padding: 5px 10px;
			text-align: center;
		}
		&:hover {
			background-color: #8e8e8e;
			.gallery-title {
				color: #fff;
			}
		}
	}
}
.fb_dialog {
	bottom: 75px !important;
}
.fb_iframe_widget iframe {
	bottom: 136px !important; 
}